# sbt
target/
project/plugins/project/
boot/
lib_managed/
src_managed/

# vim
*.sw?

# intellij
.idea/

# ignore [ce]tags files
tags

# metals
.metals/
.bsp/
.bloop/
metals.sbt
.vscode
sbt-launch.jar
.scala-build

# npm
node_modules/

#mill
out/
benchmark_history.json
site/docs/_assets/benchmarks/benchmark_history.json
experiments/resources/train.csv

weights1.csv
weights2.csv